#head{
  position:absolute;
  top:40px;
  left:240px;
  font-size: 60px;

  font-family:Poppins-Bold;
  color:#14777f;



}
.filee{
  position: absolute;
  left:200px;
  top:700px;
  display:none;


}
.dark{
  position: absolute;
  right:50px;
  top:320px;

}
.darkmode{
  color: white;
  background-color: #121212;

}
.n{
  position: absolute;
  top:80px;
}
.nr{
  position: absolute;
  padding: 2px;


  font-size: 13px;
  top:120px;
}
#det{
  position: absolute;
  left:1390px;



}
#user_image{


  width:120px;
  height:120px;

}
.title{

  display: flex;

  border-top:7px solid #14777f;
}
.symbol{
  width:200px;
  height:120px;


}
.bran{
  width:60px;
  height:60px;
  border-radius: 50%;

}
a:hover{
  background-color: gold;

}
.about{
  position: relative;
  background-color: white;
  left:140px;




}
.cont{
  position: relative;
  background-color: white;


  left:1100px;

}
.cou{
  position:absolute;

  background-color: white;
  left:540px;


}
#f{
  position: absolute;
  top:680px;
  left:200px;


}
.come{
  position: absolute;

  top:680px;
  left:440px;
}

.sub{
  position: absolute;
  top:300px;
  left: 250px;
}
.status{
  position: relative;
  background-color: white;



  left:200px;
}
.blok{
  background-color: #68B984;
}

.soco{
  position: absolute;
  top:340px;
  left:150px;

  width:40%;

}
.boxx{
  position: absolute;
  width:40%;
  left:150px;
  border: 4px solid;
  border-color: #68B984;

  top:500px;

}
